{% extends '../base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Cadastro de Usuário
{% endblock title %}

{% block content %}

<div class="container bg-light mt-n5 p-5 rounded">
    <div class="row">
        <div class="col-12">
            <form method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <div clas="form-group">
                    <button class="btn btn-outline-dark">Gravar</button>
                </div>
                <a href="{% url 'login' %}">Login?</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
