a:hover {
    background-color: beige;

    color: darkcyan;
    font-weight: bolder;
    border-radius: 5px;
    border-style: solid;
    border-left: 2px;
    border-right: 2px;
    border-color: darkcyan;

}


