{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Cadastrar Animais
{% endblock title %}

{% block content %}


<div class="container bg-light mt-n5 p-5 rounded">
    <div class="row">
        <div class="col-12">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}
                <div clas="form-group">
                    <button class="btn btn-outline-dark">Gravar</button>
                </div>
            </form>
            <img id="preview" src="">
        </div>
    </div>
</div>
<script>
    function readImage(){
        if (this.files && this.files[0]) {
            var file = new FileReader();
            file.onload = function(e) {
                document.getElementById("preview").src = e.target.result;
            };
            file.readAsDataURL(this.files[0]);
        }
    }
    document.getElementById("id_img_animal").addEventListener("change",readImage,false);
</script>
{% endblock content %}