{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
Iniciar Campanha
{% endblock title %}
{% block content %}

<div class="container bg-light mt-n5 p-5 rounded">
    <div class="row">
        <div class="col-12">
            
            <form method="POST" enctype="multipart/form-data">
                <div id="div_id_data_inicial" class="form-group"> <label for="id_data_inicial" class=" requiredField">
                    Início da Campanha: <span class="asteriskField">*</span> </label> <div> <label name="data_inicial" maxlength="150" class="textinput textInput form-control" required="" id="id_data_inicial"> {{ data_inicial }} </label></div> </div>
                {% csrf_token %}
                {{form_campanha|crispy}}
                <!-- {{form_animal|crispy}} -->
                <div clas="form-group">
                    <button class="btn btn-outline-dark">Gravar</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}