{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
 Listar
{% endblock title %}
{% block content %}
<div class="container bg-light mt-n5 p-5 rounded">
    <div class="row d-flex justify-content-center">
        
        {% for animal in animais %}
        <div class="col-sm-12 col-lg-6 text-center mt-5 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/media/{{ animal.img_animal }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ animal.apelido_animal }}</h5>
                    <p class="card-text">
                        Situação: 
                        {% if animal.sit_animal == 'R' %}
                           Rua
                        {% elif animal.sit_animal == 'L' %}
                           Lar Temporário
                        {% elif animal.sit_animal == 'T' %}
                            Tratamento
                        {% elif animal.sit_animal == 'A' %}
                            Adotado
                        {% endif %}</p>
                    
                    <a href="{{ animal.id }}" class="btn btn-primary">Acessar Animal</a>
                    <a href="{% url 'iniciar_campanha' animal.id %}" class="btn btn-warning mt-2">Iniciar Campanha</a>
                   

                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock content %}