{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
 Listar Animais
{% endblock title %}

{% block content %}
<div class="container bg-light mt-n5 p-5 rounded">
    <div class="row">
        <div class="col-12">
            {% for animal in animais %}
                <div>
                    Apelido: {{ animal.apelido_animal}}
                </div>
                <div>
                    Situação: 
                    {% if animal.sit_animal == 'R' %}
                       Rua
                    {% elif animal.sit_animal == 'L' %}
                       Lar Temporário
                    {% elif animal.sit_animal == 'T' %}
                        Tratamento
                    {% elif animal.sit_animal == 'A' %}
                        Adotado
                    {% endif %}

                </div>
                <div>
                    <img src="/media/{{ animal.img_animal }}">
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}