{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="landing bg-dark">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-sm-12 col-lg-6 text-center">
                <h1 class="text-white font-weight-bold display-3 mb-3">Animais </h1>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container bg-light mt-n5 p-5 rounded">
    <div class="row">
        <div class="col-12">
            {% for animal in animais %}
                <div>
                    {{ animal.apelido_animal}}
                </div>
                <div>
                    <img src="/media/{{ animal.img_animal }}">
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}