{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Listar Campanhas
{% endblock title %}

{% block content %}
<div class="container bg-light mt-n5 p-5 rounded">
    <div class="row d-flex justify-content-center">

        {% for campanha in campanhas %}
        <div class="col-sm-12 col-lg-4 text-center mt-5 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/media/{{ campanha.animal.img_animal }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ campanha.titulo }}</h5>
                    <p class="card-text">{{ campanha.finalidade }}</p>
                    <p class="card-text">Início: {{ campanha.data_inicial }}</p>
                    <p class="card-text">Fim: {{ campanha.data_final }}</p>
                    {% if campanha.data_final == None %}
                    <p class="card-text bg-success text-white rounded">Campanha Ativa</p>
                    <a href="{% url 'encerrar_ativas' campanha.id %}" class="btn btn-danger">Encerrar Campanha</a>

                    {% else %}
                    <p class="card-text bg-danger text-white rounded">Campanha Encerrada</p>
                    {% endif %}
                    
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock content %}